<a href="https://colab.research.google.com/github/balaji-balu/awesome-articles/blob/master/exploratory%20analytics%20using%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

something

In [1]:
import numpy as np
import pandas as pd
pd.set_option("display.precision", 2)

In [4]:
df = pd.read_csv('telecom_churn.csv')
df.head()

  state  account length  ...  customer service calls  churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 21 columns]

In [5]:
print(df.shape)

(3333, 21)

In [6]:
print(df.columns)

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB
None

In [13]:
df['churn'] = df['churn'].astype('int64')
print(df['churn'])

0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: churn, Length: 3333, dtype: int64

In [14]:
df.describe()

       account length  area code  ...  customer service calls    churn
count         3333.00    3333.00  ...                 3333.00  3333.00
mean           101.06     437.18  ...                    1.56     0.14
std             39.82      42.37  ...                    1.32     0.35
min              1.00     408.00  ...                    0.00     0.00
25%             74.00     408.00  ...                    1.00     0.00
50%            101.00     415.00  ...                    1.00     0.00
75%            127.00     510.00  ...                    2.00     0.00
max            243.00     510.00  ...                    9.00     1.00

[8 rows x 17 columns]

In [15]:
df.describe(include=['object', 'bool'])

       state phone number international plan voice mail plan
count   3333         3333               3333            3333
unique    51         3333                  2               2
top       WV     336-5616                 no              no
freq     106            1               3010            2411

In [17]:
df['churn'].value_counts(normalize=True)

0    0.86
1    0.14
Name: churn, dtype: float64

In [22]:
df.sort_values(by='total day charge', ascending=False).head()

     state  account length  ...  customer service calls churn
365     CO             154  ...                       1     1
985     NY              64  ...                       1     1
2594    OH             115  ...                       1     1
156     OH              83  ...                       0     1
605     MO             112  ...                       2     1

[5 rows x 21 columns]

In [28]:
df_sorted = df.sort_values(by=['churn', 'total day charge'],ascending=[True, False])
print(df_sorted)

     state  account length  ...  customer service calls churn
688     MN              13  ...                       3     0
2259    NC             210  ...                       3     0
534     LA              67  ...                       4     0
575     SD             114  ...                       1     0
2858    AL             141  ...                       1     0
...    ...             ...  ...                     ...   ...
1837    NH             117  ...                       1     1
2173    KS              47  ...                       0     1
2158    FL             166  ...                       0     1
1531    DE             138  ...                       4     1
1345    SD              98  ...                       4     1

[3333 rows x 21 columns]

In [30]:
df['churn'].mean()

0.14491449144914492

In [33]:
df[df['churn'] == 1].mean()

account length            102.66
area code                 437.82
number vmail messages       5.12
total day minutes         206.91
total day calls           101.34
total day charge           35.18
total eve minutes         212.41
total eve calls           100.56
total eve charge           18.05
total night minutes       205.23
total night calls         100.40
total night charge          9.24
total intl minutes         10.70
total intl calls            4.16
total intl charge           2.89
customer service calls      2.23
churn                       1.00
dtype: float64

In [34]:
df[df['churn'] == 1]['total day minutes'].mean()

206.91407867494814

In [ ]:
print(df)